.app-header {
  background-color: black;
  color: whitesmoke;
  width: 100%;
  grid-column: 1 / -1;

  .sub-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    nav>*:not(:last-child){
        margin-inline-end: 10px;
    }
  }

  a {
    font-size: 20px;
    text-decoration: none;
    color: #a6a6a6;
    transition: opacity .1s ease-in-out;

  }
  a:hover {
    transition: opacity .1s ease-in-out;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    transition-property: opacity;
    font-size: 20px;
    text-decoration: none;
    color: #fdfdfdca;
  }
}
