.app-header {
  background-color: black;
  color: whitesmoke;
  width: 100%;
  grid-column: 1 / -1;

  .sub-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    nav>*:not(:last-child){
        margin-inline-end: 10px;
    }
  }

  a {
    text-decoration: none;
    color: white;
  }
}
