.video-intro {
  margin-top: 160px;
  display: flex;
  justify-content: center;
}

@media (max-width: 600px) {
  .text-input-area {
    width: 20%;
  }
  .video-intro video {
    width: 300px;
  }
  .chatbox {
    max-width: 400px;
    .my-button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: -10px;
    }
  }
}

@media (max-width: 390px) {
  .text-input-area {
    width: 20%;
  }
  .video-intro video {
    width: 300px;
  }
  .chatbox {
    max-width: 400px;
    .my-button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: -10px;
    }
  }
}
