.video-intro {
  margin-top: 160px;
  display: flex;
  justify-content: center;
}

.storyai-home {
  display: none;
}
@media (max-width: 900px) {
  .text-input-area {
    width: 20%;
  }
  .chat-input-holder {
    width: 700px;
  }
  .video-intro video {
    width: 300px;
  }
  .chatbox {
    .my-button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: -10px;
    }
  }
}

@media (max-width: 420px) {
  .storyai-home {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    font-size: 13px;
    width: 222px;
    border: 1px solid #6c6c6c74;
    border-radius: 10px;
    transition: background-color 0.2s ease-in-out;

    a{
      color: gray;
      text-decoration: none;
    }

  }
  .storyai-home:hover {
    background-color: #40414f47;
    cursor: pointer;
  }
  .delle-img {
    margin-left: -28px;

    display: flex;
    height: 258px;
    justify-content: center;

    .chat-log {
      .the-story-main {
        display: flex;
        flex-direction: column-reverse;
        gap: 2px;
      }
      .story-text {
        width: 358px;
        font-size: 20px;
      }
    }

    .the-story-img {
      height: 222px;
      img {
        margin-left: -24px;
        border-radius: 10px;
        margin-inline: -13px;
        max-width: 48%;
        margin-top: -9px;
        border-radius: 20px;
      }
    }
  }
  .headeline {
    display: flex;
    flex-direction: column;
    width: 350px;
    span {
      font-size: 20px;
      margin-right: 15px;
    }
  }
  .main-layout {
    overflow: hidden;
    overflow: hidden;
  }
  .home-page {
    max-width: 298px;
  }
  .type-writer {
    font-size: 30px;
    max-width: 300px;
  }
  .chat-input-holder {
    padding: 12px;
    width: 300px;
  }
  .spline-main {
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;

    .spline {
      position: absolute;
      margin-top: 286px;
      margin-left: -49px;
    }
  }

  .video-intro video {
    width: 300px;
  }
  .chatbox {
    max-width: 400px;
    .my-button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: -10px;
    }
  }
  .text-input-area::placeholder {
    font-size: 18px;
    margin-top: 4px;
    background-color: #40414f;
    display: flex;
    text-align: center;
  }
}
