.video-intro {
  margin-top: 160px;
  display: flex;
  justify-content: center;
}

@media (max-width: 900px) {
  .text-input-area {
    width: 20%;
  }
  .chat-input-holder {
    width: 700px;
  }
  .video-intro video {
    width: 300px;
  }
  .chatbox {
    .my-button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: -10px;
    }
  }
}

@media (max-width: 390px) {
  
  .headeline{
    display: flex;
    flex-direction: column;
    width: 350px;
 span{
  font-size: 23px;
 }
}
.main-layout{
  overflow: hidden;
  width: 100%; 
  overflow: hidden;
  
}
.home-page{
  max-width: 310px;

}
.type-writer{
  font-size: 30px;
  max-width: 300px;

}
.chat-input-holder {
    width: 300px;
  }
  .spline-main{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .spline {
    position: absolute;
    margin-top: 286px;
    margin-left:-49px;
    // display: none;
   }

  .video-intro video {
    width: 300px;
  }
  .chatbox {
    max-width: 400px;
    .my-button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: -10px;
    }
  }
}
